.components-4-1st-column {
  position: relative;
}
.components-4-2nd-column {
  position: relative;
}
.profileimg {
  position: absolute;
  top: 240px;
  left: 280px;
}
.profileimg2 {
  position: absolute;
  top: 480px;
  left: 280px;
}

.profile2 {
  position: absolute;
  top: 330px;
  left: 270px;
}

.col-3-img {
  margin-top: 120px;
}

.signupButton {
  margin: 0 10px;
  width: 131px;
  height: 50px;

  background: #3d00b7;
  border-radius: 60px;
}
